<div class="dashboard-container">
    <h1>Dashboard</h1>
  
    <div class="controls">
      <label for="month">Select Month:</label>
      <select id="month" [(ngModel)]="selectedMonth" (change)="showChartsData()">
        <option *ngFor="let month of months" [value]="month.value">{{ month.label }}</option>
      </select>
  
      <label for="year">Select Year:</label>
      <select id="year" [(ngModel)]="selectedYear" (change)="showChartsData()">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
  
      <button (click)="enterBudget()" routerLink="/budget">Enter Budget</button>
      <button (click)="enterExpense()" routerLink="/expense">Enter Expense</button>
      <button (click)="logout()">Logout</button>
    </div>
    <div *ngIf="message!==''" style="font-size: 24px; font-weight: 600;display: flex;align-items: center;justify-content: center;">{{message}}</div>
    <div class="charts" *ngIf="!showMessage" [ngClass]="message!==''?'hidden':''">
      <div class="chart" id="pieChartContainer">
        <label for="pieChart">Expense vs Budget</label>
        <canvas id="pieChart" width="400" height="400"></canvas>
      </div>
      <div class="chart" id="barChartContainer">
        <label for="barChart">Expense</label>
        <canvas id="barChart" width="400" height="400"></canvas>
      </div>
      <div class="chart" id="lineChartContainer">
        <label for="lineChart">Budget</label>
        <canvas id="lineChart" width="400" height="400"></canvas>
      </div>
    </div>
    <div *ngIf="showMessage" style="font-size: 24px; font-weight: 600;display: flex;align-items: center;justify-content: center;">No records are found for this user</div>
  </div>
  